.bg-img {
    background-image: url('../../images/banner/whyme.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.whyme-section {
    height: 650px;
    color: #d4cfcf;
    font-family: 'Times New Roman', Times, serif;
}